<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Scotts Email Signature Generator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->
  <link href="./bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(-45deg, #718050, #464646);
    }
  </style>
  <!--  https://www.hubspot.com/email-signature-generator -->
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div id="app">
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 bd-sidebar bg-dark text-light py-md-3 px-md-5 " style="min-height: 100vh;">
          <p class="lead">
            Enter your details
          </p>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" v-model="firstName">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" v-model="lastName">
          </div>
          <div class="form-group">
            <label>Job Title</label>
            <input type="text" class="form-control" v-model="jobName">
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" v-model="phoneNumber">
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" v-model="mobileNumber">
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control" v-model="emailAddress">
          </div>
          <div class="form-group">
            <label>Custom Link URL</label>
            <input type="text" class="form-control" v-model="customLinkUrl">
          </div>
          <div class="form-group">
            <label>Custom Link Text</label>
            <input type="text" class="form-control" v-model="customLinkText">
          </div>
        </div>

        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bg-green">
          <div class="bg-white rounded p-4" v-html="html" id="signature">
            
          </div>
          <div class="my-4 flex">
              <button :disabled="!emailAddress || !phoneNumber" class="btn btn-dark" @click="copy">{{success ? 'Copied' : 'Copy' }}</button>
          </div>
          <hr />
          <div class="my-4 p-4 text-light rounded">
            <h3 id="esg-outlook-info">How do I add my new email signature to Outlook 2007-2010?</h3>
              <ol>
              <li>Open a new message. On the <strong>Insert</strong> tab, in the <strong>Include</strong> group, click <strong>Signature</strong>, and then click <strong>Signatures</strong>.</li>
              <li>On the <strong>E-mail Signature</strong> tab, click <strong>New</strong>.
              <img class="my-4 d-block" src="https://support.content.office.net/en-us/media/9197603e-dbe6-4b6f-9939-7341fb07cf79.jpg" alt="" />
            </li>
              <li>Type a name for the signature, and then click <strong>OK</strong>.</li>
              <li>In the <strong>Edit signature</strong> box, paste in your generated signature and select <strong>OK</strong></li>
              </ol>
              <h3 id="esg-outlook-info">How do I add my new email signature to Newer versions of Outlook?</h3>
              <ol>
                <li>Open a new email message.</li>
                <li>On the <strong>Message</strong> menu, select <strong>Signature > Signatures</strong>. (Depending on the size of your Outlook window and whether you're composing a new email message or a reply or forward, the Message menu and the Signature button might be in two different locations.)
                  <img class="my-4 d-block"  src="https://support.content.office.net/en-us/media/f8f6b62a-56d3-48bc-8a82-4b59c956a40a.png">
                  <img class="my-4 d-block"  src="https://support.content.office.net/en-us/media/7fc611c6-50c3-47a8-86ae-7c22fb13f18a.png"> 
                </li>
                <li>Under <strong>Select signature to edit</strong>, choose <strong>New</strong>, and in the <strong>New Signature</strong> dialog box, type a name for the signature.</li>
                <li>Under <strong>Edit signature</strong>, paste in your generated signature and select <strong>OK</strong></li>
              </ol>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./vue.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        firstName: '',
        lastName: '',
        jobName: '',
        phoneNumber: '01832 732366',
        mobileNumber: '',
        emailAddress: '',
        customLinkUrl: '',
        customLinkText: '',
        success: false
      },
      
      methods: {
        copy: function(){
          // const el = document.createElement('textarea');
          // el.value = this.html;
          // document.body.appendChild(el);
          // const el = document.getElementById('signature');
          // el.select();
          // document.execCommand('copy');
          // document.body.removeChild(el);
          var copyDiv = document.createElement('div');
          copyDiv.contentEditable = true;
          document.body.appendChild(copyDiv);
          copyDiv.innerHTML = this.html;
          copyDiv.unselectable = "off";
          copyDiv.focus();
          document.execCommand('SelectAll');
          document.execCommand("Copy", false, null);
          document.body.removeChild(copyDiv);
          
          this.success = true;
          var self = this;
          setTimeout(function(){  self.success = false}, 3000);
        }
      },
      computed: {
        html: function() {
          return `<table cellpadding="0" cellspacing="0"
              style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
              <tbody>
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0"
                      style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                      <tbody>
                        <tr>
                          <td style="vertical-align: top;">
                            <h3 color="#718050" style="margin: 0px; font-size: 18px; color: rgb(113, 128, 80);">
                              <span>${this.firstName}</span><span>&nbsp;</span><span>${this.lastName}</span>
                            </h3>
                            <p color="#718050" font-size="medium"
                              style="margin: 0px; color: rgb(113, 128, 80); font-size: 14px; line-height: 22px;">
                              <span>${this.jobName}</span>
                            </p>
                            <p color="#718050" font-size="medium"
                              style="margin: 0px; font-weight: 500; color: rgb(113, 128, 80); font-size: 14px; line-height: 22px;">
                              <span>Scotts of Thrapston Ltd.</span>
                            </p>
                            ${this.customLinkUrl && this.customLinkText ? `
                            <p color="#718050" font-size="medium" style="margin: 0px; font-weight: 500; color: rgb(113, 128, 80); font-size: 14px; line-height: 22px;">
                              <a href="${this.customLinkUrl}" color="#718050"
                                      style="text-decoration: none; margin: 0px; font-weight: 500; color: rgb(113, 128, 80); font-size: 14px; line-height: 22px;"><span>${this.customLinkText}</span></a>
                            </p><br />
                            ` : `<br />`
                            }

                            <img
                              src="https://www.scottsofthrapston.co.uk/wp-content/uploads/2020/01/Scotts_Est_FullColour_RGB_resized.png"
                              role="presentation" width="130" style="max-width: 130px; display: block;" />
                            <br />

                            <table cellpadding="0" cellspacing="0"
                              style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                              <tbody>
                                <tr height="25" style="vertical-align: middle;">
                                  <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                      style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                      <tbody>
                                        <tr>
                                          <td style="vertical-align: bottom;">
                                            <span color="#718050" width="11"
                                              style="display: block;"><img
                                                src="https://philyboysmith.github.io/scotts-email/images/phone.png"
                                                color="#718050" width="13"
                                                style="display: block;" /></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td style="padding: 0px; color: rgb(113, 128, 80);">
                                    <a href="tel:${this.phoneNumber}" color="#718050"
                                      style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;"><span style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;">${this.phoneNumber}</span></a> <a href="tel:${this.mobileNumber}" color="#718050" style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;"><span color="#718050" style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;">${this.mobileNumber ? '| ' + this.mobileNumber : ''}</span></a>
                                  </td>
                                </tr>
                                <tr height="25" style="vertical-align: middle;">
                                  <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                      style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                      <tbody>
                                        <tr>
                                          <td style="vertical-align: bottom;">
                                            <span color="#718050" width="11"
                                              style="display: block;"><img
                                                src="https://philyboysmith.github.io/scotts-email/images/mail.png"
                                                color="#718050" width="13"
                                                style="display: block;" /></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td style="padding: 0px;">
                                    <a href="mailto:${this.emailAddress}" color="#718050"
                                      style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;"><span>${this.emailAddress}</span></a>
                                  </td>
                                </tr>
                                <tr height="25" style="vertical-align: middle;">
                                  <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                      style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                      <tbody>
                                        <tr>
                                          <td style="vertical-align: bottom;">
                                            <span color="#718050" width="11"
                                              style="display: block;"><img
                                                src="https://philyboysmith.github.io/scotts-email/images/chain.png"
                                                color="#718050" width="13"
                                                style="display: block;" /></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td style="padding: 0px;">
                                    <a href="//www.scottsofthrapston.co.uk" color="#718050"
                                      style="text-decoration: none; color: rgb(113, 128, 80); font-size: 12px;"><span>www.scottsofthrapston.co.uk</span></a>
                                  </td>
                                </tr>
                                <tr height="25" style="vertical-align: middle;">
                                  <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0"
                                      style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                      <tbody>
                                        <tr>
                                          <td style="vertical-align: bottom;">
                                            <span color="#718050" width="11"
                                              style="display: block;"><img
                                                src="https://philyboysmith.github.io/scotts-email/images/map-marker.png"
                                                color="#718050" width="13"
                                                style="display: block;" /></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td style="padding: 0px;">
                                    <span color="#718050"
                                      style="font-size: 12px; color: rgb(113, 128, 80);"><span style="font-size: 12px; color: rgb(113, 128, 80);!important">Bridge Street, Thrapston,
                                        Northamptonshire, NN14
                                        4LR</span></span>
                               
                                  </td>
                                </tr>
                                
                                
                              </tbody>
                            </table>
                          </td>
                          <td width="45">
                            <div></div>
                          </td>
                          <td style="vertical-align: bottom;">
                            <table cellpadding="0" cellspacing="0"
                              style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      src="https://www.scottsofthrapston.co.uk/wp-content/themes/oshin_child/img/woodring_back.png"
                                      role="presentation" width="130" style="max-width: 130px; display: block;" />

                                  </td>
                                </tr>

                              </tbody>
                            </table>

                          </td>
                        </tr>
                        
                        <tr>
                          <td height="16"></td>
                        </tr>
                        <tr>
                          <td style="text-align: left;">
                            <table cellpadding="0" cellspacing="0"
                              style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
                              <tbody>
                                <tr style="text-align: left;">
                                  <td>
                                    <a href="https://www.facebook.com/scottsofthrapston/" color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/facebook-square.png"
                                        alt="facebook" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  
                                    <a href="https://twitter.com/scottsthrapston" color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/twitter-square.png"
                                        alt="twitter" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  
                                    <a href="https://www.instagram.com/scotts_of_thrapston/" color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/instagram.png"
                                        alt="instagram" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  
                                    <a href="https://www.linkedin.com/company/scotts-of-thrapston-limited/"
                                      color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/linkedin-square.png"
                                        alt="linkedin" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  
                                    <a href="https://www.pinterest.co.uk/scottsthrapston/" color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/pinterest-square.png"
                                        alt="pinterest" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  
                                    <a href="https://www.youtube.com/user/scotts1920" color="#718050"
                                      style="display: inline-block; padding: 0px; "><img
                                        src="https://philyboysmith.github.io/scotts-email/images/youtube-square.png"
                                        alt="youtube" color="#718050" height="24"
                                        style=" max-width: 135px; float:left;" /></a>&nbsp;
                                  </td>
                                 
                                </tr>
                                
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="16"></td>
                        </tr>
                        
                        <tr>
                          <td style="padding: 0px;">
                            <span color="#718050"
                                      style="font-size: 12px; color: rgb(113, 128, 80);">Registered No. 04178948 | VAT Registration No. 119 1529  76 | </span><a color="#718050"
                                      style="font-size: 12px; color: rgb(113, 128, 80);" href="https://www.scottsofthrapston.co.uk/about/privacy-policy/">Read our Privacy Policy</a>
                               
                                  </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>`
        }
      }
    })
  </script>
</body>

</html>